@model TaskTracker.Models.TaskCategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<br>
<div  class="toolBar" >
    
    <div>
        <a asp-action="Create"><button class="create-botton"> + New Task</button></a>
    </div>
        <form asp-controller="Task" asp-action="Index" method="get">
            
            <select asp-for="TaskCategory" asp-items="Model.Categories" class="dropDownList" >
                    <option value="">-Category-</option>
            </select>
             <select asp-for="TaskPriority" asp-items="Model.Priorities" class="dropDownList" >
                    <option value="">-Priority-</option>
            </select>
            <select asp-for="TaskStatus" asp-items="Model.Status" class="dropDownList" >
                    <option value="">-Status-</option>
            </select>
            <input type="text" name="SearchString" />
            <input type="submit" value="Search" class="create-botton"/>
          
        </form>
    </div>
    <br>
<div  class="viewBar" >
    <div>
        <a asp-area="" asp-controller="Task" asp-action="Index"><button class="create-botton"> List View</button></a>
    </div>
    <div>
        <a asp-area="" asp-controller="Task" asp-action="GanttChart"><button class="create-botton"> Calender View</button></a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
        <th>
            <span class="listItem">
                @Html.DisplayNameFor(model => model.Tasks![0].Title)
            </span>
        </th>
        <th>
            <span class="listItem">
                @Html.DisplayNameFor(model => model.Tasks![0].Description)
            </span>
        </th>
        <th>
            <span class="listItem">
                @Html.DisplayNameFor(model => model.Tasks![0].DueDate)
            </span>
        </th>
        <th>
            <span class="listItem">
                @Html.DisplayNameFor(model => model.Tasks![0].Category)
            </span>
        </th>
        <th>
            <span class="listItem">
                @Html.DisplayNameFor(model => model.Tasks![0].Priority)
            </span>
        </th>
        <th>
            <span class="listItem">
                @Html.DisplayNameFor(model => model.Tasks![0].Status)
            </span>
        </th>
        <th>
            <span class="listItem">
                @Html.DisplayNameFor(model => model.Tasks![0].Location)
            </span>
        </th>
        <th>
        </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Tasks) {
    <span  class="list-line">
    <tr >
        <td>
        @if(item.ParentTask != null )
        {
        <span>&nbsp;&nbsp;&#10147; </span>
        }
        <span class="subTask-Indent " >
        <a asp-action="Details" asp-route-id="@item.Id" class="item-title">@Html.DisplayFor(modelItem => item.Title)</a> 
        </span>
        </td>
        <td >
            <span class="listItem" >
               @Html.DisplayFor(modelItem => item.Description) 
            </span>
        </td>
        <td>
            <span class="listItem">
                @Html.DisplayFor(modelItem => item.DueDate)
            </span>
        </td>
        <td >
            <span class="listItem">
                @Html.DisplayFor(modelItem => item.Category)
            </span>
        </td>
        <td >
            <span class="priority @($"{item.Priority?.ToLower() ?? string.Empty}")">
                @Html.DisplayFor(modelItem => item.Priority)
            </span>
        </td>
        <td >
            <span class="status @($"{item.Status?.ToLower() ?? string.Empty}")">
                @Html.DisplayFor(modelItem => item.Status)
            </span>
        </td>

        <td>
            <span class="listItem">
                @Html.DisplayFor(modelItem => item.Location)
            </span>
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id"><button class="create-botton"> Edit </button></a> |
            <a asp-action="Delete" asp-route-id="@item.Id"><button class="create-botton"> Delete </button></a>
        </td>
        
    </tr>
    </span>
    }
    </tbody>
</table>
